@font-face {
  font-family: 'Intro Book';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

@font-face {
  font-family: 'Core Circus';
  src: url('../../Assets/fonts/CoreCircus.otf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../../Assets/fonts/IntroBlackRegular.otf');
}

.Container8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88vh;
}

.selfieImage {
  background-image: url('../../Assets/selfieImage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.container8Text {
  width: 45%;
  padding-left: 5em;
  transform: translateY(-25px);
  transition: all 1.5s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
  animation-fill-mode: forwards;
}

.container8Text h2 {
  font-family: 'Intro Black', sans-serif;
  font-size: 2em;
  color: #fd6d6e;
  text-transform: uppercase;
  padding-bottom: 1em;
}

.container8Text h3 {
  padding-top: 1em;
}

.container8Text p {
  font-family: 'Intro Book', sans-serif;
  line-height: 1.4em;
  color: #2b2b2b;
}

.container8Text h3 {
  font-family: 'Core Circus', sans-serif;
  color: #2b2b2b;
  font-size: 1.2em;
}

@media screen and (max-width: 535px) {
  .Container8 {
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    height: 100%;
  }

  .container8Text {
    width: 85%;
    padding: 3em 0;
  }

  .container8Text h2 {
    padding-bottom: 0;
  }

  .container8Text h3 {
    padding-top: 0;
  }

  .selfieImage {
    height: 500px;
    width: 100%;
    align-items: flex-end;
  }
}

@media screen and (max-width: 350px) {
  .Container8 {
    height: 130vh;
  }
}
