@font-face {
  font-family: 'Intro Book';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

@font-face {
  font-family: 'Core Circus';
  src: url('../../Assets/fonts/CoreCircus.otf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../../Assets/fonts/IntroBlackRegular.otf');
}

.Container10 {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.container10Row {
  display: flex;
}

.container10Row > img {
  height: 80%;
  width: 50%;
}

.container10Header {
  font-family: 'Core Circus', sans-serif;
  color: #2b2b2b;
  font-size: 1.5em;
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

.container10Text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  transform: translateY(-25px);
  transition: all 1.5s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
  animation-fill-mode: forwards;
}

.container10Text h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Intro Black', sans-serif;
  color: #fd6d6e;
  font-size: 2em;
}

.container10Text p {
  font-family: 'Intro Book', sans-serif;
  color: #2b2b2b;
  line-height: 1.4em;
}

@media (max-width: 535px) {
  .Container10 {
    height: 100%;
  }

  .container10Row {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .container10Header {
    padding-bottom: 0;
  }

  .container10Text {
    display: flex;
    align-content: center;
    width: 85%;
    justify-content: center;
  }

  .container10Text h2 {
    justify-content: center;
    align-items: center;
  }

  .container10Row img {
    width: 300px;
    padding-top: 1.8em;
  }
}

@media screen and (max-width: 350px) {
  .Container10 {
    height: 140vh;
  }
}
