@font-face {
  font-family: 'Intro Book';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

@font-face {
  font-family: 'Core Circus';
  src: url('../../Assets/fonts/CoreCircus.otf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../../Assets/fonts/IntroBlackRegular.otf');
}

.Container10 {
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.container10Row {
  display: flex;
}

.container10Row > img {
  height: 80%;
  width: 50%;
}

.container10Header {
  font-family: 'Core Circus', sans-serif;
  color: #2b2b2b;
  font-size: 1.5em;
  text-align: center;
  padding-top: 3.5em;
  padding-bottom: 2em;
}

.container10Text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.container10Text h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Intro Black', sans-serif;
  color: #fd6d6e;
  font-size: 2em;
}

.container10Text p {
  font-family: 'Intro Book', sans-serif;
  color: #2b2b2b;
  line-height: 1.4em;
}

@media screen and (max-width: 535px) {
  .Container10 {
    height: 100vh;
  }

  .container10Row {
    flex-direction: column;
    align-items: center;
  }

  .container10Header {
    font-size: 1em;
    text-align: center;
    padding-bottom: 0;
  }

  .container10Text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 2em;
  }

  .container10Text h2 {
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
  }

  .container10Row > img {
    height: 100%;
    width: 70%;
  }
}
