@font-face {
  font-family: 'Core Circus';
  src: url('../../Assets/fonts/CoreCircus.otf');
}

@font-face {
  font-family: 'Intro';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

.Container3 {
  background-image: url('../../Assets/vrWoman.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.container3Text {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #2b2b2b;
  font-family: 'Intro', sans-serif;
  line-height: 25px;
  margin-right: 2.5em;
  margin-top: 2em;
}

.container3Text h3 {
  font-family: 'Core Circus', sans-serif;
}
