@font-face {
  font-family: 'Core Circus';
  src: url('../../Assets/fonts/CoreCircus.otf');
}

@font-face {
  font-family: 'Intro';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

.Container3 {
  background-image: url('../../Assets/vrWoman.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container3Text {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #2b2b2b;
  font-family: 'Intro', sans-serif;
  line-height: 25px;
  margin-right: 2.5em;
  margin-top: 2em;
}

.container3Text h3 {
  font-family: 'Core Circus', sans-serif;
}

.container3Text {
  opacity: 0;
  transform: translateY(-15px);
  transition: all 1.5s ease-in;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 535px) {
  .Container3 {
    height: 100vh;
    justify-content: flex-start;
  }
  .container3Text {
    margin-left: 2em;
    width: 55%;
  }

  .container3Text {
    color: white;
    text-shadow: 2px 2px 3px black;
  }
}
@media screen and (max-width: 350px) {
  .Container3 {
    height: 115vh;
    justify-content: flex-start;
  }
  .container3Text {
    margin-left: 2em;
    width: 55%;
  }

  .container3Text {
    color: white;
    text-shadow: 2px 2px 3px black;
  }
}
