.ScrollingHeader {
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 10;
}

.scrollingHeaderLogo {
  width: 236px;
  height: 32px;
  margin-left: 1em;
  order: 0;
  position: relative;
  right: 25em;
}

.scrollingHeaderMobileLogo {
  visibility: hidden;
}

.contactInfo {
  display: flex;
  align-items: center;
  height: 100%;
}

.contactInfo h4 {
  color: #ffffff;
  font-family: "Core Circus", sans-serif;
  margin-right: 2em;
}

.contactUsDiv {
  background-color: rgba(253, 111, 110, 0.7);
  height: 100%;
  font-family: "Intro Bold", sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 2em;
}

.contactUsDiv a {
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 480px) {
  .ScrollingHeader {
    width: 99%;
    overflow: hidden;
    margin: 0;
    justify-content: flex-end;
  }

  .scrollingHeaderMobileLogo {
    position: relative;
    right: 0.9em;
    width: 50px;
    height: 50px;
    justify-content: flex-start;
    visibility: visible;
  }

  .scrollingHeaderLogo {
    display: none;
  }

  .contactInfo h4 {
    font-size: 0.8em;
    padding: 0;
  }

  .contactUsDiv {
    padding: 0 1em;
  }

  .contactInfo h3 {
    font-size: 0.8em;
    margin: 0;
  }

  a {
    margin: 0;
    padding: 0;
  }
}
