.ScrollingHeader {
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 10;
}

.ScrollingHeader img {
  width: 236px;
  height: 42px;
  margin-left: 1em;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactInfo h4 {
  color: #ffffff;
  font-family: 'Core Circus', sans-serif;
  margin-right: 2em;
}

.contactInfo h3 {
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  background-color: rgba(253, 111, 110, .7);
  height: 10vh;
  font-family: 'Intro Bold', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

@media (max-width: 480px) {
  .ScrollingHeader {
    width: 99%;
    overflow: hidden;
    margin: 0;

  }

  .ScrollingHeader img {
    width: 150px;
    height: 30px;
  }

  .contactInfo h4 {
    font-size: .6em;
    padding: 0;
  }

  .contactInfo h3 {
    font-size: .7em;
    margin: 0;
    height: 100%;
  }

  a {
    margin: 0;
    padding: 0;
  }

  .contactInfo {
    margin: 0;
    padding: 0;
  }
}
