.ScrollingHeader {
  height: 10vh;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  z-index: 10;
}

.ScrollingHeader img {
  width: 236px;
  height: 42px;
  margin-left: 1em;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactInfo h4 {
  color: #ffffff;
  font-family: 'Core Circus', sans-serif;
  margin-right: 2em;
}

.contactInfo h3 {
  padding: 1.35em 2em;
  background-color: rgba(253, 111, 110, .7);
  height: 100%;
  font-family: 'Intro Bold', sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 550px) {
  .ScrollingHeader {
    display: none;
  }
}
