.Container13 {
  height: 80vh;
  background-image: url('../../Assets/spaceHeader.jpg');
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookNow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bookNow h2 {
  border: 2px solid #fd6d6e;
  border-radius: 15px;
  padding: 1em 2em;
  margin-top: 4.5em;
  color: #ffffff;
  background-color: #fd6d6e;
  font-family: 'Core Circus', sans-serif;
}

.footerLogo {
  width: 400px;
  height: 75px;
}

.container13Row {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
  justify-content: flex-end;
  align-items: center;
}

.socialMedia {
  display: flex;
}

/*.container13Row h3 {
  font-family: 'Core Circus', sans-serif;
  color: #ffffff;
  letter-spacing: 0.1em;
}*/

.socialMedia i {
  color: #fd6d6e;
  font-size: 2.5em;
  padding: 0em 0.3em;
  padding-top: 0.8em;
}

@media (max-width: 535px) {
  .Container13 {
    height: 100%;
    background-position: right;
    align-items: center;
  }

  .socialMedia {
    display: flex;
    flex-direction: row;
  }

  .container13Row {
    margin-top: 4em;
  }

  .container13Row h3 {
    margin-left: 1.5em;
  }

  .socialMedia {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0;
  }

  .socialMedia i {
    color: #fd6d6e;
    font-size: 2em;
    padding: 1em;
  }
}
