.Container13 {
  height: 80vh;
  background-image: url('../../Assets/spaceFooter.jpg');
  background-size: cover;
}

.bookNow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bookNow h2 {
  border: 2px solid #fd6d6e;
  border-radius: 15px;
  padding: 1em 2em;
  margin-top: 4.5em;
  color: #ffffff;
  background-color: #fd6d6e;
  font-family: 'Core Circus', sans-serif;
}

.container13Row {
  padding: 0 2.6em;
  display: flex;
  flex-direction: column;
  margin-top: 6.9em;
}

.socialMedia {
  display: flex;
  flex-direction: column;
}

.container13Row h3 {
  font-family: 'Core Circus', sans-serif;
  color: #ffffff;
  letter-spacing: 0.4em;
}

.socialMedia i {
  color: #fd6d6e;
  font-size: 3em;
  padding: 0.2em 0;
}

@media screen and (max-width: 535px) {
  .Container13 {
    height: 82vh;
    background-position: right;
  }

  .socialMedia {
    display: flex;
    flex-direction: row;
  }

  .container13Row h3 {
    letter-spacing: 0.2em;
  }

  .socialMedia {
    display: flex;
    justify-content: space-around;
    margin: 0.5em 0;
  }

  .socialMedia i {
    color: #fd6d6e;
    font-size: 2em;
    padding: 0;
  }
}
