@font-face {
  font-family: 'Core Circus 3D';
  src: url('../../Assets/fonts/CoreCircus3DFrame.otf');
}

.Container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2b2b2b;
  height: 90vh;
  padding-left: 3em;
}

.vrText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  letter-spacing: 1.3em;
}

.vrText span {
  color: #e9eae9;
  font-size: 82px;
  font-family: 'Core Circus 3D', sans-serif;
  padding: .3em 0;
}


.headset {
  width: 285px;
  height: 450px;
}

.globe {
  width: 260px;
  height: 260px;
}

.headsetContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-left: 3em;
}
