@font-face {
  font-family: 'Core Circus 3D';
  src: url('../../Assets/fonts/CoreCircus3DFrame.otf');
}

.Container2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2b2b2b;
  height: 80vh;
  padding-left: 3em;
}

.vrText {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1.3em;
}

.vrText span {
  color: #ffffff;
  font-size: 96px;
  font-family: 'Core Circus 3D', sans-serif;
  padding: -.5em 0;
}

.headset {
  padding-left: 3.7em;
  align-self: center;
  width: 320px;
  height: 320px;
}
.headset2 {
  display: none;
  width: 150px;
  height: 150px;
}

.globe {
  width: 260px;
  height: 260px;
}

@media screen and (max-width: 535px) {
  .Container2 {
    flex-direction: column;
    height: 100vh;
    padding: 2em 0;
  }

  .vrText {
    margin-top: 0;
    letter-spacing: 0.5em;
  }

  .vrText span {
    font-size: 65px;
    padding: 0;
  }

  .headset {
    display: none;
    width: 150px;
    height: 200px;
  }

  #headset2 {
    display: inline;
    width: 150px;
    height: 140px;
  }

  .globe {
    width: 200px;
    height: 200px;
  }

  .headsetContainer {
    align-self: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .vrText span {
    font-size: 46px;
    padding: 0.1em 0;
  }
  .headset2 {
    display: none;
    width: 100px;
    height: 100px;
    margin: 0;
  }

  .globe {
    width: 150px;
    height: 150px;
  }
}
