fs@font-face {
  font-family: 'Intro Book';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../../Assets/fonts/IntroBlackRegular.otf');
}

.Container4 {
  display: flex;
  height: 90vh;
  background-color: #2b2b2b;
}

.div1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
}

.div1 p {
  color: #ffffff;
  font-family: 'Intro Book', sans-serif;
  line-height: 1.8em;
}

.div1 h2 {
  color: #ffffff;
  font-family: 'Intro Black', sans-serif;
  font-size: 2.5em;
}

.div2 {
  background-image: url('../../Assets/hashtagParty.jpg');
  background-size: cover;
  filter: grayscale(100%);
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hashtagSVG {
  width: 405px;
  height: 442px;
  margin-top: 1.7em;
  margin-right: .4em;
}

.div1 {
  opacity: 0;
  transform: translateY(-25px);
  transition: all 1.5s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0px);
}

.lightsOn {
  filter: grayscale(0);
  transition: all 2s ease-in;
}

@media screen and (max-width: 535px) {
  .Container4 {
    height: 120vh;
    flex-direction: column;
  }

  .div1 {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
  }

  .div2 {
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: center;
  }

  .div1 h2 {
    margin: 1.5em 0 0 0;
    font-size: 2.4em;
  }

  .hashtagSVG {
    width: 100px;
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .Container4 {
    height: 125vh;
    flex-direction: column;
  }

  .div1 {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    padding: 0 2em;
  }

  .div2 {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .hashtagSVG {
    width: 100px;
    height: 150px;
  }
}
