.Container14 {
  height: 70vh;
  background-image: url('../../Assets/office.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3em 0;
}

.container14Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  padding-left: 2em;
}

.container14Text h2 {
  font-family: 'Intro Black', sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  color: #fd6f6e;
  padding-bottom: 0.5em;
  margin-top: 2.5em;
}

.container14Text h3 {
  font-family: 'Core Circus', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

.container14Text p {
  font-family: 'Intro Book', sans-serif;
  color: #ffffff;
  line-height: 1.4em;
}

@media (max-width: 530px) {
  .Container14 {
    flex-direction: column;
    height: 100%;
  }

  .container14Text {
    width: 85%;
  }
}
