@font-face {
  font-family: 'Intro Book';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../../Assets/fonts/IntroBlackRegular.otf');
}

.Container5 {
  height: 90vh;
  display: flex;
}

.station {
  width: 250px;
  height: 475px;
}

.photoStation {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
}


.container5Text {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2em;
  align-self: center;
}

.container5Text h2 {
  color: #fd6d6e;
  font-family: 'Intro Black', sans-serif;
  font-size: 1.6em;
}

.container5Text p {
  color: #2b2b2b;
  font-family: 'Intro Book', sans-serif;
  line-height: 1.4em;
}

.container5Text {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 2s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#object1 {
  position: relative;
}

.movement {
  opacity: 1;
  transform: translateY(40px);
  transform: rotate3d(20px);
}

@media screen and (max-width: 535px) {
  .Container5 {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  }

  .photoStation {
    width: 10%;
  }

  .container5Text {
    width: 60%;
    align-self: flex-start;
    padding: 0 0 0 7em;
    align-self: center;
  }

  .container5Text h2 {
    font-size: 1.1em;
  }
}
