@font-face {
  font-family: 'Intro Book';
  src: url('../../Assets/fonts/IntroBookRegular.otf');
}

@font-face {
  font-family: 'Intro Black';
  src: url('../../Assets/fonts/IntroBlackRegular.otf');
}

.Container5 {
  height: 90vh;
  display: flex;
}

.station {
  width: 250px;
  height: 475px;
  margin-left: 41em;
  position: relative;
}

.photoStation {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: flex-end;
}

.container5Text {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2em;
  align-self: center;
}

.container5Text h2 {
  color: #fd6d6e;
  font-family: 'Intro Black', sans-serif;
  font-size: 1.6em;
}

.container5Text p {
  color: #2b2b2b;
  font-family: 'Intro Book', sans-serif;
  line-height: 1.4em;
}

.container5Text {
  opacity: 0;
  transform: translateY(-40px);
  transition: all 2s ease-out;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

#object1 {
  position: relative;
  bottom: 18em;
  left: -10em;
  z-index: -1;
}

#object2 {
  position: relative;
  bottom: 18em;
  left: -15em;
  z-index: -1;
}

#object3 {
  position: relative;
  bottom: 29.8em;
  left: -21.5em;
}

#object4 {
  position: relative;
  bottom: 17em;
  left: -24.3em;
  z-index: -1;
}

#object5 {
  position: relative;
  bottom: 20em;
  left: -27em;
  z-index: -1;
}

#object6 {
  position: relative;
  bottom: 18em;
  left: -35em;
  z-index: -1;
}

#object7 {
  position: relative;
  bottom: 18em;
  left: -43em;
  z-index: -1;
}

.movement1 {
  animation: movement1 1s;
  animation-fill-mode: forwards;
}

.movement2 {
  animation: movement2 2.4s;
  animation-fill-mode: forwards;
}

.movement3 {
  animation: movement3 4s;
  animation-fill-mode: forwards;
}

.movement4 {
  animation: movement4 1.5s;
  animation-fill-mode: forwards;
}

.movement5 {
  animation: movement5 1.7s;
  animation-fill-mode: forwards;
}

.movement6 {
  animation: movement6 0.8s;
  animation-fill-mode: forwards;
}

.movement7 {
  animation: movement7 1.5s;
  animation-fill-mode: forwards;
}

@keyframes movement1 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(225px) translateY(-175px) rotate(360deg);
    opacity: 1;
  }
}

@keyframes movement2 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-200px) translateY(-170px) rotate(360deg);
    opacity: 1;
  }
}

@keyframes movement3 {
  0% {
    transform: scale(1);
  }
  20%,
  40%,
  60%,
  100% {
    transform: scale(1.1);
  }
  10%,
  30%,
  50%,
  70% {
    transform: scale(1.4);
  }
}

@keyframes movement4 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-230px) rotate(360deg) scale(0.8);
    opacity: 1;
  }
}

@keyframes movement5 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(125px) rotate(360deg) scale(0.8);
    opacity: 1;
  }
}

@keyframes movement6 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(225px) translateY(195px) rotate(360deg) scale(0.6);
    opacity: 1;
  }
}

@keyframes movement7 {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-210px) translateY(250px) rotate(360deg) scale(0.6);
    opacity: 1;
  }
}

@media screen and (max-width: 535px) {
  .Container5 {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
  }

  .photoStation {
    width: 10%;
  }

  .container5Text {
    width: 80%;
    align-self: flex-start;
    padding: 0 0 0 7em;
    align-self: center;
  }

  .container5Text h2 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 350px) {
  #object1,
  #object6,
  #object5 {
    visibility: hidden;
  }
}
