@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "./normalize.css";

@font-face {
  font-family: "Intro Book";
  src: url("./Assets/fonts/IntroBookRegular.otf");
}

@font-face {
  font-family: "Intro Black";
  src: url("./Assets/fonts/IntroBlackRegular.otf");
}

@font-face {
  font-family: "Core Circus";
  src: url("./Assets/fonts/CoreCircus.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
